<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DARNAMob"
        tools:targetApi="31">
        <activity
            android:name=".Client.ArtisanProfileComments"
            android:exported="false" />
        <activity
            android:name=".Client.PerfectFeedBack"
            android:exported="false" />
        <activity
            android:name=".Client.VeryGoodFeedBack"
            android:exported="false" />
        <activity
            android:name=".Client.GoodFeedBack"
            android:exported="false" />
        <activity
            android:name=".Client.NahFeedBack"
            android:exported="false" />
        <activity
            android:name=".Client.OrderValidation"
            android:exported="false" />
        <activity
            android:name=".Client.EstimatedPrice"
            android:exported="false" />
        <activity
            android:name=".Client.AddNewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Client.AccountClientSettings"
            android:exported="false" />
        <activity
            android:name=".Client.Notifications"
            android:exported="false" />
        <activity
            android:name=".Main.SignUp"
            android:exported="false"/>

        <activity
            android:name=".Artisant.Fragments.SettingFragment"
            android:exported="false" />
        <activity
            android:name=".Artisant.Fragments.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".Artisant.Fragments.DiscussionFragment"
            android:exported="false" />
        <activity
            android:name=".Artisant.Fragments.AccountFragment"
            android:exported="false" />
        <activity
            android:name=".Accueil.Accueil1"
            android:exported="false" />
        <activity
            android:name=".Client.MainActivityClient"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Main.SignIn"
            android:exported="false" />
        <activity
            android:name=".Accueil.SignInUp"
            android:exported="false" />
        <activity
            android:name=".Accueil.Accueil3"
            android:exported="false" />
        <activity
            android:name=".Accueil.Accueil2"
            android:exported="false" />
        <activity
            android:name=".Main.Main"
            android:exported="false" />
        <activity
            android:name=".Artisant.MainActivityArtisant"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>